:root {
    --columns: 50;
    --rows: 30;
    --cell-size: 1.5vw;
}

.field {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell-size));
    grid-template-rows: repeat(var(--rows), var(--cell-size));
}

.field__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}